# Data Preprocessing

Performing some fundamental data wrangling that, together, form the pre-processing phase of data analysis (convert data from an initial format to a format that may be better for analysis). These steps include handling missing values in data, formatting data to standardize it and make it consistent and converting categorical variables into numerical quantitative variables.

In [1]:
import pandas as pd
import numpy as np

In [2]:
file_path = "../data/raw/data.xlsx"

In [3]:
df = pd.read_excel(file_path, sheet_name="INTEGRATED_DB")
df.head()

,TITLE,CPC,ASIGNEE,FILING_DATE,PATENT_NO,RELEVANCY,PRODUCT,CATEGORY,SUB_CATEGORY,TAXONOMY_SSTT
0,Systems and methods for structure discovery an...,G06F40/289;G06F40/40;G06F16/33;G06F40/279;G06F...,"Casetext, Inc.",2023-06-29,11861321,69.637240,NaN,Artificial Intelligence,Information and Signal Processing Technologies,A09
1,"FREQUENCY SEPARATOR, OPTICAL QUANTIZATION CIRC...",G02F1/01;G02F2/006;G02F7/00,Mitsubishi Electric Corporation,2023-06-27,20230350269,46.685993,NaN,Artificial Intelligence,Information and Signal Processing Technologies,A09
2,MEDICAL STRUCTURED REPORTING WORKFLOW ASSISTED...,G06F40/174;G06N20/00;G16H50/20;G16H10/60;G16H1...,Ebit srl,2023-06-27,20240006039,71.258710,NaN,Artificial Intelligence,Information and Signal Processing Technologies,A09
3,"SYSTEMS, METHODS, AND APPARATUSES FOR GENERATI...",G06F40/30;G06F16/34;G06F40/279;G06F21/6254;G06...,"Premier Healthcare Solutions, Inc.",2023-06-23,20230418981,61.538550,NaN,Artificial Intelligence,Information and Signal Processing Technologies,A09
4,NATURAL LANGUAGE PROCESSING FOR BLOCKCHAIN-BAS...,G06F16/289;G06F16/283;G06F16/24573;G06F16/27,NaN,2023-06-09,20230409604,68.528656,NaN,Artificial Intelligence,Information and Signal Processing Technologies,A09

## Checking Data Types

Purpose:
1. Potential info and type mismatch
2. Compatibility with Python methods

In [4]:
df.dtypes

TITLE                    object
CPC                      object
ASIGNEE                  object
FILING_DATE      datetime64[ns]
PATENT_NO                object
RELEVANCY               float64
PRODUCT                 float64
CATEGORY                 object
SUB_CATEGORY             object
TAXONOMY_SSTT            object
dtype: object

The datatypes seems reasonable

## Data Cleaning

Check duplicates

In [5]:
duplicate_count = df.duplicated().sum()

duplicate_count

0

Formatting Topic/Title and Category

In [6]:
df[['TITLE','CATEGORY','SUB_CATEGORY']] = df[['TITLE','CATEGORY','SUB_CATEGORY']].apply(lambda x: x.str.upper())

df[['TITLE', 'CATEGORY','SUB_CATEGORY']]

,TITLE,CATEGORY,SUB_CATEGORY
0,SYSTEMS AND METHODS FOR STRUCTURE DISCOVERY AN...,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES
1,"FREQUENCY SEPARATOR, OPTICAL QUANTIZATION CIRC...",ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES
2,MEDICAL STRUCTURED REPORTING WORKFLOW ASSISTED...,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES
3,"SYSTEMS, METHODS, AND APPARATUSES FOR GENERATI...",ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES
4,NATURAL LANGUAGE PROCESSING FOR BLOCKCHAIN-BAS...,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES
...,...,...,...
8151,SYSTEMS AND METHODS FOR MONITORING AUTOMATED C...,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES
8152,PORTABLE COMPOSITE BONDING INSPECTION SYSTEM,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES
8153,METHODS OF DEBONDING A COMPOSITE TOOLING,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES
8154,ADHESIVE OF A SILICON AND SILICA COMPOSITE FOR...,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES
8155,COMPOSITE LAMINATION USING ARRAY OF PARALLEL M...,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES

Formatting Asignee

In [7]:
# Standardize company names
df['ASIGNEE'] = df['ASIGNEE'].str.upper().str.strip()

# Remove duplicates after standardization
df.drop_duplicates(inplace=True)

# Display standardized company names
df['ASIGNEE']

0                           CASETEXT, INC.
1          MITSUBISHI ELECTRIC CORPORATION
2                                 EBIT SRL
3       PREMIER HEALTHCARE SOLUTIONS, INC.
4                                      NaN
                       ...
8151                    THE BOEING COMPANY
8152                     SPACE MICRO, INC.
8153       TOYOTA MOTOR SALES U.S.A., INC.
8154                                   NaN
8155                    THE BOEING COMPANY
Name: ASIGNEE, Length: 8156, dtype: object

In [8]:
df.head()

,TITLE,CPC,ASIGNEE,FILING_DATE,PATENT_NO,RELEVANCY,PRODUCT,CATEGORY,SUB_CATEGORY,TAXONOMY_SSTT
0,SYSTEMS AND METHODS FOR STRUCTURE DISCOVERY AN...,G06F40/289;G06F40/40;G06F16/33;G06F40/279;G06F...,"CASETEXT, INC.",2023-06-29,11861321,69.637240,NaN,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES,A09
1,"FREQUENCY SEPARATOR, OPTICAL QUANTIZATION CIRC...",G02F1/01;G02F2/006;G02F7/00,MITSUBISHI ELECTRIC CORPORATION,2023-06-27,20230350269,46.685993,NaN,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES,A09
2,MEDICAL STRUCTURED REPORTING WORKFLOW ASSISTED...,G06F40/174;G06N20/00;G16H50/20;G16H10/60;G16H1...,EBIT SRL,2023-06-27,20240006039,71.258710,NaN,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES,A09
3,"SYSTEMS, METHODS, AND APPARATUSES FOR GENERATI...",G06F40/30;G06F16/34;G06F40/279;G06F21/6254;G06...,"PREMIER HEALTHCARE SOLUTIONS, INC.",2023-06-23,20230418981,61.538550,NaN,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES,A09
4,NATURAL LANGUAGE PROCESSING FOR BLOCKCHAIN-BAS...,G06F16/289;G06F16/283;G06F16/24573;G06F16/27,NaN,2023-06-09,20230409604,68.528656,NaN,ARTIFICIAL INTELLIGENCE,INFORMATION AND SIGNAL PROCESSING TECHNOLOGIES,A09

In [9]:
df.describe(include="all")

,TITLE,CPC,ASIGNEE,FILING_DATE,PATENT_NO,RELEVANCY,PRODUCT,CATEGORY,SUB_CATEGORY,TAXONOMY_SSTT
count,8156,8043,3698,8156,8.156000e+03,8156.000000,0.0,8156,8156,8156
unique,7376,7794,1661,NaN,8.092000e+03,NaN,NaN,5,17,17
top,UNMANNED AERIAL VEHICLE,G06F21/577,INTERNATIONAL BUSINESS MACHINES CORPORATION,NaN,2.020039e+10,NaN,NaN,ARTIFICIAL INTELLIGENCE,INTEGRATED PLATFORMS,C02
freq,147,11,122,NaN,2.000000e+00,NaN,NaN,2812,2063,2063
mean,NaN,NaN,NaN,2016-03-28 17:00:08.827856896,NaN,60.742594,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,2006-01-03 00:00:00,NaN,12.973147,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,2013-02-13 00:00:00,NaN,45.402196,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,2017-02-22 00:00:00,NaN,58.735012,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,2019-12-27 00:00:00,NaN,70.138640,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,2023-10-16 00:00:00,NaN,229.259740,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,23.200723,NaN,NaN,NaN,NaN

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8156 entries, 0 to 8155
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   TITLE          8156 non-null   object
 1   CPC            8043 non-null   object
 2   ASIGNEE        3698 non-null   object
 3   FILING_DATE    8156 non-null   datetime64[ns]
 4   PATENT_NO      8156 non-null   object
 5   RELEVANCY      8156 non-null   float64
 6   PRODUCT        0 non-null      float64
 7   CATEGORY       8156 non-null   object
 8   SUB_CATEGORY   8156 non-null   object
 9   TAXONOMY_SSTT  8156 non-null   object
dtypes: datetime64[ns](1), float64(2), object(7)
memory usage: 637.3+ KB

## Missing values

There are two columns missing values; `CPC` and `ASIGNEE`.

In [11]:
missing_data = df.isna()

# sum() to count missing values in each column
missing_data_count = missing_data.sum()

print(missing_data_count)

TITLE               0
CPC               113
ASIGNEE          4458
FILING_DATE         0
PATENT_NO           0
RELEVANCY           0
PRODUCT          8156
CATEGORY            0
SUB_CATEGORY        0
TAXONOMY_SSTT       0
dtype: int64

In [12]:
# Drop rows with missing values in some columns
df.dropna(subset=['FILING_DATE','PATENT_NO','RELEVANCY','CPC'], inplace=True)
print(df.isna().sum())

TITLE               0
CPC                 0
ASIGNEE          4439
FILING_DATE         0
PATENT_NO           0
RELEVANCY           0
PRODUCT          8043
CATEGORY            0
SUB_CATEGORY        0
TAXONOMY_SSTT       0
dtype: int64

`replace()` method in pandas will be used. *Values of the Series/DataFrame are replaced with other values dynamically. This differs from updating with .loc or .iloc, which require to specify a location to update with some value.*

> Need further disussion to handle the missing values

Drop data that has no CPC Inventive code

In [13]:
# #Will be moved to utils.py for reusability and maintainabilty

# def replace_to_unknown(df):
#     # Replace NaN values with "Unknown" in the entire DataFrame
#     return df.replace(np.nan, "Unknown")

In [14]:
# main_df = replace_to_unknown(main_df)

# main_df.head()

In [15]:
# #save the cleaned data to a new file
# data_path = "../data/processed/uav.csv"

# main_df.to_csv(data_path, index=False)

## Feature Engineering

Adding Section Feature by extracting from the `SSTT_TAXONOMY` feature

In [16]:
# Extract only the letters from the "SSTT_TAXONOMY" column
df['SECTION'] = df['TAXONOMY_SSTT'].str.extract(r'([A-Z]+)')

df[['TAXONOMY_SSTT','SECTION']].head()

  TAXONOMY_SSTT SECTION
0           A09       A
1           A09       A
2           A09       A
3           A09       A
4           A09       A

Unique Values

In [17]:
# Get unique values in the specific column
unique_sstt = df['TAXONOMY_SSTT'].unique()

unique_sstt

array(['A09', 'C01', 'A08', 'C07', 'B07', 'B14', 'B02', 'C03', 'B10',
       'C02', 'B08', 'B09', 'C04', 'B04', 'A04', 'A01', 'B12'],
      dtype=object)

In [18]:
# Count unique values in the "ASIGNEE" column
unique_asignee_count = df['ASIGNEE'].nunique()

print(unique_asignee_count)

1624

Drop `RELEVANCY` and `PRODUCT` for now

In [19]:
df.drop(columns=['RELEVANCY','PRODUCT'], inplace=True)

Adding `YEAR` feature

In [20]:
# Extract year and create 'YEAR' column
df['YEAR'] = df['FILING_DATE'].dt.year

# Move 'YEAR' column next to 'FILING_DATE' column
filing_date_index = df.columns.get_loc('FILING_DATE')
df.insert(filing_date_index + 1, 'YEAR', df.pop('YEAR'))

In [21]:
df.tail()

,TITLE,CPC,ASIGNEE,FILING_DATE,YEAR,PATENT_NO,CATEGORY,SUB_CATEGORY,TAXONOMY_SSTT,SECTION
8151,SYSTEMS AND METHODS FOR MONITORING AUTOMATED C...,B29C70/386;G01N21/88,THE BOEING COMPANY,2006-05-16,2006,20070277919,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES,B12,B
8152,PORTABLE COMPOSITE BONDING INSPECTION SYSTEM,G01N21/94,"SPACE MICRO, INC.",2007-04-23,2007,20070252084,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES,B12,B
8153,METHODS OF DEBONDING A COMPOSITE TOOLING,B29C70/30;B29C33/505;B64F5/10,"TOYOTA MOTOR SALES U.S.A., INC.",2006-07-21,2006,20070006960,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES,B12,B
8154,ADHESIVE OF A SILICON AND SILICA COMPOSITE FOR...,H01L21/67306,NaN,2006-06-01,2006,20060213601,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES,B12,B
8155,COMPOSITE LAMINATION USING ARRAY OF PARALLEL M...,B29C70/545;B29C70/386;B29C70/202;B32B38/1808;B...,THE BOEING COMPANY,2006-03-02,2006,20060162143,COMPOSITE,MANUFACTURING PROCESSES/ DESIGN TOOLS/ TECHNIQUES,B12,B

In [22]:
df.dtypes

TITLE                    object
CPC                      object
ASIGNEE                  object
FILING_DATE      datetime64[ns]
YEAR                      int32
PATENT_NO                object
CATEGORY                 object
SUB_CATEGORY             object
TAXONOMY_SSTT            object
SECTION                  object
dtype: object

## Aggregate data per Week

In [23]:
def calculate_application_per_week(data: pd.DataFrame, date_column: str):
    """
    Calculate the cumulative count of patent applications per week.

    Parameters:
    - data: DataFrame containing the patent application data
    - date_column: Name of the column containing the date information

    Returns:
    - DataFrame with the cumulative count of patent applications per week
    """
    # Convert date column to datetime format
    data[date_column] = pd.to_datetime(data[date_column])

    # Extract year and week number from the date
    data['Week'] = data[date_column].dt.to_period('W')

    # Group by week and count the number of applications in each group
    applications_per_week = data.groupby('Week').size().reset_index(name='Applications')

    return applications_per_week

In [25]:
series = calculate_application_per_week(data=df, date_column='FILING_DATE')

                      Week  Applications
0    2006-01-02/2006-01-08             3
1    2006-01-09/2006-01-15             8
2    2006-01-16/2006-01-22             5
3    2006-01-23/2006-01-29             4
4    2006-01-30/2006-02-05             6
..                     ...           ...
918  2023-09-18/2023-09-24             1
919  2023-09-25/2023-10-01             2
920  2023-10-02/2023-10-08             1
921  2023-10-09/2023-10-15             3
922  2023-10-16/2023-10-22             1

[923 rows x 2 columns]

Write preprocessed dataset to Excel to be used for modeling and exploratory

In [28]:
missing_data = df.isna()

# sum() to count missing values in each column
missing_data_count = missing_data.sum()

print(missing_data_count)

TITLE               0
CPC                 0
ASIGNEE          4439
FILING_DATE         0
YEAR                0
PATENT_NO           0
CATEGORY            0
SUB_CATEGORY        0
TAXONOMY_SSTT       0
SECTION             0
dtype: int64

In [ ]:
# df.to_excel('../data/processed/cleaned_data.xlsx', index=False, sheet_name='cleaned_data')

# One Hot Encoding

Categorical variables encoding

> Will be implemented on the Integrated Dataset

**Problem**

- Most statistical models cannot take in objects or strings as input, and for model training, only take the numbers as inputs

**Solution**
- Encode the values by adding new features corresponding to each unique element in the original feature we would like to encode
- Add dummy variables for each unique category using `pandas.get_dummies()` method